<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css')}}">
    <title>Login</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/"><strong>HOME</strong></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/shop"><strong><strong>SHOP</strong></strong></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/fixture"><strong><strong>FIXTURES</strong></strong></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/ticket"><strong><strong>TICKET</strong></strong></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/cart"><strong>CART</strong></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about_us"><strong><strong>EXPLORE US</strong></strong></a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/login"><strong><strong>Login</strong></strong></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout"><strong><strong>Logout</strong></strong></a>
              </li>
          </ul>
        </div>
      </div>
    </nav>
     </div>
    <fieldset>
        <form action="/login" method="post">
        <h2 style="color: #17C3B2">Login Here</h2>

        <div class="form">
            <div class="form2">
            <strong>Select User Type:</strong><br>
            <input type="radio" id="admin" name="user" value="admin">
            <label for="admin">Admin</label>
            <input type="radio" id="customer" name="user" value="customer">
            <label for="customer">Customer</label><br> <br>
            </div>
            
            <label>Username: </label>
            <input type="text" placeholder="Enter Your Email" name="name">
            <br><br>
            <label>Password: </label>
            <input type="password" placeholder="Enter Your Password" name="pass">
            <br><br>
            <sub style="color:red">{{msg}}</sub><br><br>
            <button>Login</button>
        </div>
    </form>
        <br><br><b>Don't have an account?</b><br>
    <a href="/registration">Click here to create one</a>
    </fieldset>
    
</body>
</html>