<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy Ticket</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='ticket.css')}}">
</head>
<body>  

    
    <div class="row">
        <div class="column"><div class="g1">
            <h2>Group A</h2>
            <ul>
                <li>Qatar</li>
                <li>Ecuador</li>
                <li>Senegal</li>
                <li>Netharland</li>
            </ul>
            <br>
            <h3>Select Your Match<h3>
                    <select class="middle">  
                        <option>Qatar</option>  
                        <option>Ecuador</option>  
                        <option>Senegal</option>  
                        <option>Netharland</option>   
                    </select> 
                      <p><strong>VS</strong></p>
                    <select class="middle">  
                        <option>Ecuador</option>  
                        <option>Qatar</option>  
                        <option>Senegal</option>  
                        <option>Netharland</option>   
                    </select> 
                    <br><br><br>
                    <button> BUY NOW
                    </button>
            </div></div>
        <div class="column"><div class="g1">
            <h2>Group B</h2>
            <ul>
                <li>England</li>
                <li>Iran</li>
                <li>USA</li>
                <li>Wales</li>
            </ul>
            <br>
            <h3>Select Your Match<h3>  
                    <select class="middle">  
                        <option>Iran</option>  
                        <option>England</option>  
                        <option>USA</option>  
                        <option>Wales</option>   
                    </select> 
                      <p><strong>VS</strong></p>
                    <select class="middle">  
                        <option>England</option>  
                        <option>USA</option>  
                        <option>Wales</option>  
                        <option>Iran</option>   
                    </select> 
                    <br><br><br>
                    <button> BUY NOW
                    </button>
            </div></div>
            <div class="column"><div class="g1">
                <h2>Group C</h2>
                <ul>
                    <li>Argentina</li>
                    <li>Saudi Arabia</li>
                    <li>Mexico</li>
                    <li>Poland</li>
                </ul>
                <br>
                <h3>Select Your Match<h3>  
                        <select class="middle">  
                            <option>Argentina</option>  
                            <option>Saudi Arabia</option>  
                            <option>Mexico</option>  
                            <option>Poland</option>   
                        </select> 
                          <p><strong>VS</strong></p>
                        <select class="middle">  
                            <option>Saudi Arabia</option>  
                            <option>Argentina</option>  
                            <option>Mexico</option>  
                            <option>Poland</option>   
                        </select> 
                        <br><br><br>
                        <button> BUY NOW
                        </button>
                </div></div>
                <div class="column"><div class="g1">
                    <h2>Group D</h2>
                    <ul>
                        <li>France</li>
                        <li>Australia</li>
                        <li>Denmark</li>
                        <li>Tunisia</li>
                    </ul>
                    <br>
                    <h3>Select Your Match<h3>  
                            <select class="middle">  
                                <option>France</option>  
                                <option>Australia</option>  
                                <option>Denmark</option>  
                                <option>Tunisia</option>   
                            </select> 
                              <p><strong>VS</strong></p>
                            <select class="middle">  
                                <option>Denmark</option>  
                                <option>France</option>  
                                <option>Australia</option>  
                                <option>Tunisia</option>   
                            </select> 
                            <br><br><br>
                            <button> BUY NOW
                            </button>
                    </div></div>
      </div>
      <div class="row">
        <div class="column"></div>
        <div class="column"><div class="g1">
            <h2>Group E</h2>
            <ul>
                <li>Spain</li>
                <li>Costa Rica</li>
                <li>Germany</li>
                <li>Japan</li>
            </ul>
            <br>
            <h3>Select Your Match<h3>  
                    <select class="middle">  
                        <option>Spain</option>  
                        <option>Germany</option>  
                        <option>Japan</option>  
                        <option>Costa Rica</option>   
                    </select> 
                      <p><strong>VS</strong></p>
                    <select class="middle">  
                        <option>Germany</option>  
                        <option>Spain</option>  
                        <option>Costa Rica</option>  
                        <option>Japan</option>   
                    </select> 
                    <br><br><br>
                    <button> BUY NOW
                    </button>
            </div></div>
        <div class="column"><div class="g1">
            <h2>Group F</h2>
            <ul>
                <li>Belgium</li>
                <li>Canada</li>
                <li>Morocco</li>
                <li>Croatia</li>
            </ul>
            <br>
            <h3>Select Your Match<h3>  
                    <select class="middle">  
                        <option>Belgium</option>  
                        <option>Canada</option>  
                        <option>Morocco</option>  
                        <option>Croatia</option>   
                    </select> 
                      <p><strong>VS</strong></p>
                    <select class="middle">  
                        <option>Canada</option>  
                        <option>Belgium</option>  
                        <option>Morocco</option>  
                        <option>Croatia</option>   
                    </select> 
                    <br><br><br>
                    <button> BUY NOW
                    </button>
            </div></div>
            <div class="column"><div class="g1">
                <h2>Group G</h2>
                <ul>
                    <li>Brazil</li>
                    <li>Serbia</li>
                    <li>Swizerland</li>
                    <li>Cameroon</li>
                </ul>
                <br>
                <h3>Select Your Match<h3>  
                        <select class="middle">  
                            <option>Brazil</option>  
                            <option>Serbia</option>  
                            <option>Swizerland</option>  
                            <option>Cameroon</option>   
                        </select> 
                          <p><strong>VS</strong></p>
                        <select class="middle">  
                            <option>Serbia</option>  
                            <option>Brazil</option>  
                            <option>Swizerland</option>  
                            <option>Cameroon</option>   
                        </select> 
                        <br><br><br>
                        <button> BUY NOW
                        </button>
                </div></div>
            <div class="column"><div class="g1">
                <h2>Group H</h2>
                <ul>
                    <li>Portugal</li>
                    <li>Ghana</li>
                    <li>Uruguya</li>
                    <li>South Korea</li>
                </ul>
                <br>
                <h3>Select Your Match<h3>  
                        <select class="middle">  
                            <option>Portugal</option>  
                            <option>Ghana</option>  
                            <option>Uruguya</option>  
                            <option>South Korea</option>   
                        </select> 
                          <p><strong>VS</strong></p>
                        <select class="middle">  
                            <option>Ghana</option>  
                            <option>Portugal</option>  
                            <option>Uruguya</option>  
                            <option>South Korea</option>   
                        </select> 
                        <br><br><br>
                        <button> BUY NOW
                        </button>
                </div></div>
      </div>                     
</body>
</html>